<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3107ksAY6HoQWWV3dB5AmReBNVWGeRbY</string>
	<key>GCM_SENDER_ID</key>
	<string>952160645418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hallpass.app</string>
	<key>PROJECT_ID</key>
	<string>hall-pass-750f4</string>
	<key>STORAGE_BUCKET</key>
	<string>hall-pass-750f4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952160645418:ios:88df4f1db85cb953dfae53</string>
</dict>
</plist>